.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}
body {
  margin: 0px;
}
.navigation{
  height: 7vh;
  width : 100vw;
  display : flex;
  justify-content: center;
  align-items: center;
}

.navigation > p{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  text-decoration: underline;
}
.banner {
  height: 93vh;
  width: 100vw;
  background-color: grey;
  display: flex;
}

.left {
  height: 100%;
  width: 50%;
  background-color: lavender;
}
.right {
  height: 100%;
  width: 50%;
  background-color: lavenderblush;
}

.bounding-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  
}

.bounding-box > p{
  max-width: 75%;
}


